<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gig Connect </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GigConnect", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (User.Identity.IsAuthenticated == true)
                    {
                        if (User.IsInRole("Band"))
                        {
                            <li> @Html.ActionLink("Band Profile", "ViewBandProfileNav", "ProfileView")</li>
                            <li>@Html.ActionLink("Update Information", "Edit", "Band")</li>
                            <li>@Html.ActionLink("Venues", "VenueDirectory", "Band")</li>


                        }
                        else if (User.IsInRole("Venue"))
                        {
                            <li> @Html.ActionLink("Venue Profile", "ViewVenueProfileNav", "ProfileView")</li>
                            <li>@Html.ActionLink("Update Information", "Edit", "Venue")</li>
                            <li>@Html.ActionLink("Bands", "BandDirectory", "Venue")</li>
                            <li>@Html.ActionLink("Add Show", "Create", "Gig")</li>

                        }


                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GigConnect</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>


</html>