@model GigConnect.Models.ViewModels.AddBandToGigViewModel



<h2>Add @Model.band.bandName to an Existing Gig</h2>

@if (Model.gigs.Count == 0)
{
    <div>
        <h4><i> No gigs currently on schedule </i></h4>
    </div>
}
else
{

    <div id="gigDisplay">
        <table class="table">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Description</th>
                <th>Bands</th>
                <th>Venue</th>
                <th>Action</th>
            </tr>

            @foreach (var gig in Model.gigs)
            {
                <tr>
                    <td>
                        @gig.gig.timeOfGig.ToShortDateString()
                    </td>
                    <td>
                        @gig.gig.timeOfGig.ToString("hh:mm tt")
                    </td>
                    <td style="width: 30%;">
                        @gig.gig.description
                    </td>
                    <td style="width: 20%;">
                        @if (gig.bands.Count == 0)
                        {
                            <i style="color: grey;">No bands confirmed!</i>
                        }
                        else
                        {
                            foreach (var band in gig.bands)
                            {
                                <span>@Html.ActionLink(band.bandName, "ViewBandProfile", "ProfileView", new { bandId = band.BandId }, null), </span>

                            }
                        }

                    </td>
                    <td>
                        @gig.gig.Venue.venueName
                    </td>

                    <td>
                        <button class="btn-default">@Html.ActionLink("Ask " + Model.band.bandName + " to join", "Create", "Request", new { bandId = Model.band.BandId, venueId = gig.gig.venueId, gigId = gig.gig.GigId }, null)</button>
                    </td>
                </tr>
            }

        </table>

    </div>

}


