@model IEnumerable<GigConnect.Models.ViewModels.BandPicViewModel>

@{
    ViewBag.Title = "BandDirectory";
}




<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-lg-8 contentCol">
        <div id="bandDirNav" style="display: inline-block; width: 100%">
            <h2  style="display: inline-block; float: left;">Find Bands</h2>

            <div id="filterForm"  style="display: inline-block; float: right; padding-top: 35px;">
                <form id="search-form">
                    <label>SEARCH BY:</label>
                
                    <input id="search-input-text" type="text" name="search-input-text" placeholder="Search" class="form-control" />
                   
                </form>

            </div>

        </div>
        

        <div style="height: 500px; overflow-y: scroll;">
        <table class="table">
            <tr>
                <th>Name (Genre)</th>

                <th>
                    Hometown Area
                </th>


                <th></th>

            </tr>

            @foreach (var item in Model)
            {
                <tr class="Search">
                    <td>
                        @if (item.facebookUrl == "Error: No Token or facebook id")
                        {
                            @*<img src="~/Content/Images/profile.jpg" href="@Url.Action("ViewBandProfile", "ProfileView", new { bandId = item.band.BandId }, null)" alt="pic" style="height: 50px; width: 50px;" />
                            @Html.DisplayFor(modelItem => item.band.bandName) <span style="color: lightgrey"><i>(@Html.DisplayFor(modelItem => item.band.genre))</i></span>*@

                            <a id="logoLink" href="@Url.Action("ViewBandProfile", "ProfileView", new { bandId = item.band.BandId }, null)">
                                <img class="logoImg" src="~/Content/Images/profile.jpg" style="height: 50px; width: 50px;" alt="logo" />
                            </a> <span>   @Html.DisplayFor(modelItem => item.band.bandName)</span><span style="color: gray"><i>  (@Html.DisplayFor(modelItem => item.band.genre))</i></span>
                        }
                        else
                        {
                            @*<img src="@item.facebookUrl" href="@Url.Action("ViewBandProfile", "ProfileView", new { bandId = item.band.BandId }, null)" alt="pic" style="height: 50px; width: 50px;" />
                            @Html.DisplayFor(modelItem => item.band.bandName) <span style="color: lightgrey"><i>(@Html.DisplayFor(modelItem => item.band.genre))</i></span>*@



                            <a id="logoLink" href="@Url.Action("ViewBandProfile", "ProfileView", new { bandId = item.band.BandId }, null)">
                                <img class="logoImg" src="@item.facebookUrl" style="height: 50px; width: 50px;" alt="logo" />
                            </a><span>   @Html.DisplayFor(modelItem => item.band.bandName)</span><span style="color: gray"><i>  (@Html.DisplayFor(modelItem => item.band.genre))</i></span>
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.band.town)
                        @{
                            var state = GigConnect.Services.StateNames.GetFullState(item.band.Location.state.ToString());

                        }
                        <span hidden>@item.band.Location.city, @item.band.Location.state, @state</span>
                    </td>



                    <td style="text-align: right;">
                        <button class="btn-default">@Html.ActionLink("Send a Message", "Create", "Message", new { recipientId = item.band.BandId, isBand = true }, null)</button>

                        <button class="btn-default">@Html.ActionLink("Add to line-up", "AddSelectedBandToGig", "Gig", new { bandId = item.band.BandId }, null)</button>

                    </td>
                </tr>
            }

        </table>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>




<script>
                document.addEventListener('DOMContentLoaded', function () {



                    (function ($) {

                 

                        


                     
                        $(".logoImg").mouseenter(function () {
                            $(this).css("border", "2pt solid yellow");

                        });
                        $(".logoImg").mouseleave(function () {
                            $(this).css("border", "none");

                        });

               
                       



                        function Contains(text_one, text_two) {
                            if (text_one.indexOf(text_two) != -1)
                                return true;
                        }


                        $("#search-input-text").keyup(function () {
                            var searchText = $("#search-input-text").val().toLowerCase();
                            $(".Search").each(function () {
                                if (!Contains($(this).text().toLowerCase(), searchText)) {
                                    $(this).hide();
                                }
                                else {
                                    $(this).show();
                                }
                            });
                        });


                    })(jQuery);

                });
</script>




