

@model GigConnect.Models.ViewModels.VenueIndexViewModel



<div class="row">
    <div class="col-lg-12">
        <div class="contentCol">
            <h4>@Model.venue.venueName - Home</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3" style="height: 700px;">
        <button id="showGigs" class="btn-default dashBtn"><span class="dashHead">Gigs</span></button>
        <button id="showInbox" class="btn-default dashBtn"><span class="dashHead">Inbox</span></button>
        <button id="showOutbox" class="btn-default dashBtn"><span class="dashHead">Outbox</span></button>
        <button id="showRequestsIn" class="btn-default dashBtn"><span class="dashHead">Requests</span></button>
        <button id="showRequestsOut" class="btn-default dashBtn"><span class="dashHead">Pending Requests</span></button>
        <button id="showResponse" class="btn-default dashBtn"><span class="dashHead">Responses</span></button>
    </div>
    <div class="col-lg-9">
        <div class="contentCol">

            <div id="Gigs" class="indexBox">
                <h4>Upcoming Shows</h4>
                <table class="table small-gigs-table" width="100%">
                    <tr>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Bands</th>
                        <th>Discription</th>
                        <th></th>
                    </tr>
                    @foreach (var gig in Model.currentGigs)
                    {
                        <tr>
                            @if (gig.gig.open == true)
                            {
                                <td style="background-color: rgba(233, 212, 96, 1); color: black;"><i>Booking...</i></td>
                            }
                            else
                            {
                                <td>BOOKED</td>
                            }

                            <td>@gig.gig.timeOfGig.ToShortDateString()</td>
                            <td>@gig.gig.timeOfGig.ToString("hh:mm tt")</td>
                            <td>

                                @foreach (var band in gig.bands)
                                {

                                    <span> @Html.ActionLink(band.bandName, "ViewBandProfile", "ProfileView", new { bandId = band.BandId }, null),</span>
                                }
                            </td>
                            <td style="width: 40%;">@gig.gig.description</td>

                            <td>
                                <button class="btn-default tdBtnV">@Html.ActionLink("Edit", "Edit", "Gig", new { gigId = gig.gig.GigId }, null)</button>
                                @if (gig.gig.open == true)
                                {
                                    <button class="btn-default tdBtnV">@Html.ActionLink("CLOSE", "ToggleGigOpen", "Gig", new { gigId = gig.gig.GigId }, null)</button>
                                }
                                else
                                {
                                    <button class="btn-default tdBtnV">@Html.ActionLink("OPEN", "ToggleGigOpen", "Gig", new { gigId = gig.gig.GigId }, null)</button>
                                }
                            </td>
                        </tr>
                    }
                </table>

            </div>

            <div id="inbox" style="display: none;" class="indexBox">
                @if (Model.messagesIn.Count == 0)
                {
                    
                    <h2 class="no">no messages</h2>
                }
                else
                {
                    <table class="table">
                        <tr>
                            <td>DATE</td>
                            <td>TIME</td>
                            <td>FROM</td>
                            <td>MESSAGE</td>
                            <td>ACTIONS</td>
                        </tr>
                        @foreach (var message in Model.messagesIn)
                        {
                            if (message.read == false)
                            {
                                <tr>
                                    <td> @message.timeStamp.ToShortDateString() </td>
                                    <td> @message.timeStamp.ToString("hh:mm tt"):</td>
                                    <td style="font-weight: bold;">@Html.ActionLink(message.Band.bandName, "ViewBandProfile", "ProfileView", new { bandId = message.Band.BandId }, null)</td>
                                    <td>@message.messageContent</td>
                                    <td>
                                        <button class="btn-default">@Html.ActionLink("Reply", "Create", "Message", new { recipientId = message.Band.BandId, isBand = true }, null)</button>
                                        <button class="btn-default">@Html.ActionLink("Read", "ToggleRead", "Message", new { messageId = message.MessageId }, null)</button>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr style="color: gray">
                                    <td> @message.timeStamp.ToShortDateString() </td>
                                    <td> @message.timeStamp.ToString("hh:mm tt"):</td>
                                    <td style="font-weight: bold;">@Html.ActionLink(message.Band.bandName, "ViewBandProfile", "ProfileView", new { bandId = message.Band.BandId }, null)</td>
                                    <td style="width: 60%;">@message.messageContent</td>
                                    <td>
                                        <button class="btn-default">@Html.ActionLink("Reply", "Create", "Message", new { recipientId = message.Band.BandId, isBand = true }, null)</button>
                                        <button class="btn-default">@Html.ActionLink("Unread", "ToggleRead", "Message", new { messageId = message.MessageId }, null)</button>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                }
            </div>

            <div id="outbox" style="display: none;" class="indexBox">
                @if (Model.messagesOut.Count == 0)
                {
                    <h2 class="no">no sent messages</h2>
                }
                else
                {
                    <table class="table">
                        <tr>
                            <td>SENT</td>
                            <td>TIME</td>
                            <td>TO</td>
                            <td>MESSAGE</td>
                            <td>ACTIONS</td>
                        </tr>
                        @foreach (var message in Model.messagesOut)
                        {
                            <tr style="color: gray">
                                <td> @message.timeStamp.ToShortDateString() </td>
                                <td> @message.timeStamp.ToString("hh:mm tt"):</td>
                                <td style="font-weight: bold;">@Html.ActionLink(message.Band.bandName, "ViewBandProfile", "ProfileView", new { bandId = message.Band.BandId }, null)</td>
                                <td style="width: 60%;">@message.messageContent</td>
                                <td>
                                    <button class="btn-default">@Html.ActionLink("Send Another?", "Create", "Message", new { recipientId = message.Venue.VenueId, isBand = false }, null)</button>
                                </td>
                            </tr>

                        }
                    </table>
                }
            </div>

            <div id="requestsIn" style="display: none;" class="indexBox">
                @if (Model.requestsIn.Count == 0)
                {
                    <h2 class="no">no requests!</h2>
                }
                else
                {
                    <table class="table">
                        <tr class="headRow">
                            <th>RECIEVED</th>
                            <th>DATE/TIME OF GIG</th>
                            <th>BAND</th>
                            <th>MESSAGE</th>
                            <th>ACTIONS</th>
                        </tr>
                        @foreach (var request in Model.requestsIn)
                        {

                            <tr>
                                <td> @request.timeStamp.ToShortDateString()  @@<span>@request.timeStamp.ToString("hh:mm tt")</span></td>
                                @if (request.eventId == null)
                                {
                                    string date = request.gigTime.HasValue ? request.gigTime.Value.ToShortDateString() : string.Empty;
                                    string time = request.gigTime.HasValue ? request.gigTime.Value.ToString("hh:mm tt") : string.Empty;
                                    <td> @date @@<span>@time</span></td>
                                }
                                else
                                {
                                    <td> @request.Gig.timeOfGig.ToShortDateString()  @@<span>@request.Gig.timeOfGig.ToString("hh:mm tt")</span></td>
                                }

                                <td style="font-weight: bold;">@Html.ActionLink(request.Band.bandName, "ViewBandProfile", "ProfileView", new { bandId = request.Band.BandId }, null)</td>


                                <td style="width: 40%;">
                                    @if (request.eventId != null)
                                    {
                                        <strong><i>Request to JOIN:</i></strong>
                                    } <span style="color: gray;">@request.message</span>
                                </td>


                                <td>
                                    <button class="btn-default" style="background-color: green;">@Html.ActionLink("ACCEPT", "ApproveRequest", "Request", new { requestId = request.RequestId }, null)</button>
                                    <button class="btn-default" style="background-color: red;">@Html.ActionLink("DECLINE", "DenyRequest", "Request", new { requestId = request.RequestId }, null)</button>
                                </td>
                            </tr>


                        }
                    </table>
                }
            </div>

            <div id="requestsOut" style="display: none;" class="indexBox">
                @if (Model.requestsOut.Count == 0)
                {
                    <h2 class="no">no pending requests!</h2>
                }
                else
                {
                    <table class="table">
                        <tr class="headRow">
                            <th>SENT</th>
                            <th>DATE/TIME OF GIG</th>
                            <th>BAND</th>
                            <th>STATUS</th>
                            <th>ACTIONS</th>
                        </tr>
                        @foreach (var request in Model.requestsOut)
                        {

                            <tr>
                                <td> @request.timeStamp.ToShortDateString()  @@<span>@request.timeStamp.ToString("hh:mm tt")</span></td>
                                @if (request.eventId == null)
                                {
                                    string date = request.gigTime.HasValue ? request.gigTime.Value.ToShortDateString() : string.Empty;
                                    string time = request.gigTime.HasValue ? request.gigTime.Value.ToString("hh:mm tt") : string.Empty;
                                    <td> @date @@<span>@time</span></td>
                                }
                                else
                                {
                                    <td> @request.Gig.timeOfGig.ToShortDateString()  @@<span>@request.Gig.timeOfGig.ToString("hh:mm tt")</span></td>
                                }

                                <td style="font-weight: bold;">@Html.ActionLink(request.Band.bandName, "ViewBandProfile", "ProfileView", new { bandId = request.Band.BandId }, null)</td>


                                @if (request.approved == true)
                                {
                                    <td><strong style="color: green;">APPROVED!</strong></td>
                                }
                                else if (request.denied == true)
                                {
                                    <td><strong style="color: red;">DENIED!</strong></td>
                                }

                                <td><i style="color: yellow;">Pending...</i></td>

                                <td>
                                    <button class="btn-default">@Html.ActionLink("MESSAGE", "Create", "Message", new { recipientId = request.bandId, isBand = true }, null)</button>
                                    <button class="btn-default" style="background-color: red;">@Html.ActionLink("DELETE", "Delete", "Request", new { requestId = request.RequestId }, null)</button>

                                </td>
                            </tr>


                        }
                    </table>
                }
            </div>

            <div id="response" style="display: none;" class="indexBox">
                @if (Model.requestResponses.Count == 0)
                {
                    <h2 class="no">no responses</h2>
                }
                else
                {
                    <table class="table">
                        <tr class="headRow">
                            <th>SENT</th>
                            <th>DATE/TIME OF GIG</th>
                            <th>BAND</th>
                            <th>STATUS</th>
                            <th>ACTIONS</th>
                        </tr>
                        @foreach (var request in Model.requestResponses)
                        {

                            <tr>
                                <td> @request.timeStamp.ToShortDateString()  @@<span>@request.timeStamp.ToString("hh:mm tt")</span></td>
                                @if (request.eventId == null)
                                {
                                    string date = request.gigTime.HasValue ? request.gigTime.Value.ToShortDateString() : string.Empty;
                                    string time = request.gigTime.HasValue ? request.gigTime.Value.ToString("hh:mm tt") : string.Empty;
                                    <td> @date @@<span>@time</span></td>
                                }
                                else
                                {
                                    <td> @request.Gig.timeOfGig.ToShortDateString()  @@<span>@request.Gig.timeOfGig.ToString("hh:mm tt")</span></td>
                                }

                                <td style="font-weight: bold;">@Html.ActionLink(request.Band.bandName, "ViewBandProfile", "ProfileView", new { bandId = request.Band.BandId }, null)</td>


                                @if (request.approved == true)
                                {
                                    <td><strong style="color: green;">APPROVED!</strong></td>
                                }
                                else if (request.denied == true)
                                {
                                    <td><strong style="color: red;">DENIED!</strong></td>
                                }

                                <td>
                                    <button class="btn-default">@Html.ActionLink("MESSAGE", "Create", "Message", new { recipientId = request.bandId, isBand = true }, null)</button>
                                    <button class="btn-default" style="background-color: red;">@Html.ActionLink("DELETE", "Delete", "Request", new { requestId = request.RequestId }, null)</button>

                                </td>
                            </tr>


                        }
                    </table>
                }
            </div>




        </div>
    </div>
</div>






    



    


       











    



</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {



        (function ($) {


            $("#showInbox").click(function () {
                $("#outbox").hide();
                $("#Gigs").hide();
                $("#requestsIn").hide()
                $("#requestsOut").hide();
                $("#response").hide();
                $("#inbox").show();

            });

             $("#showOutbox").click(function () {
                $("#inbox").hide();
                $("#Gigs").hide();
                $("#requestsIn").hide()
                $("#requestsOut").hide();
                $("#response").hide();
                $("#outbox").show();

             });

             $("#showRequestsIn").click(function () {
                $("#inbox").hide();
                $("#Gigs").hide();
                $("#requestsOut").hide();
                $("#response").hide();
                $("#outbox").hide();
                $("#requestsIn").show()

             });

            $("#showRequestsOut").click(function () {
                $("#inbox").hide();
                $("#Gigs").hide();
                $("#requestsIn").hide();
                $("#response").hide();
                $("#outbox").hide();
                $("#requestsOut").show()

            });

            $("#showResponse").click(function () {
                $("#inbox").hide();
                $("#Gigs").hide();
                $("#requestsOut").hide();
                $("#outbox").hide();
                $("#requestsIn").hide()
                $("#response").show();

            });

             $("#showGigs").click(function () {
                $("#inbox").hide();
                $("#response").hide();
                $("#requestsOut").hide();
                $("#outbox").hide();
                $("#requestsIn").hide()
                $("#Gigs").show();

            });

            
            updateNotification();
            function updateNotification() {

                @{ 
                    var unreadMessageCount = Model.messagesIn.Where(m => m.read == false).ToList().Count;

 }
                if (@unreadMessageCount != 0) {
                    $("#showInbox").addClass("alertHead");
                    $("#showInbox").append("<span class='notifyCount'> (@unreadMessageCount Unread)<span>");
                }


                if (@Model.requestsIn.Count != 0) {
                    $("#showRequestsIn").addClass("alertHead");
                    $("#showRequestsIn").append("<span class='notifyCount'>(@Model.requestsIn.Count Unanswered!)<span>");
                }

                 if (@Model.requestsOut.Count != 0) {
                   $("#showRequestsOut").addClass("alertHead");
                 $("#showRequestsOut").append("<span class='notifyCount'> (@Model.requestsOut.Count Pending)<span>");
                }

                  if (@Model.requestResponses.Count != 0) {
                   $("#showResponse").addClass("alertHead");
                    $("#showResponse").append("<span class='notifyCount'> (@Model.requestResponses.Count NEW)<span>");
                }


            }











        })(jQuery);

    });
</script>