



@model GigConnect.Models.ViewModels.BandIndexViewModel

    <h2>@Model.band.bandName</h2>



<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>




<div id="messages">
  
    <table class="table" style="table-layout: fixed;">
        <tr>
            <td>
                <button id="showInbox" class="btn-default" style=" height: 40px; width: 100%;font-weight: bold;">INBOX</button>
            </td>
            <td>
                <button id="showOutbox" class="btn-default" style=" height: 40px; width: 100%; ">OUTBOX</button>
            </td>
        </tr>
    </table>
    <div id="inbox">
        @if (Model.messagesIn.Count == 0)
        {
            <div><span>NO MESSAGES IN INBOX</span></div>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>DATE</th>
                    <th>TIME</th>
                    <th>FROM</th>
                    <th>MESSAGE</th>
                    <th>ACTIONS</th>
                </tr>
                @foreach (var message in Model.messagesIn)
                {
                    if (message.read == false)
                    {
                        <tr>
                            <td> @message.timeStamp.ToShortDateString() </td>
                            <td> @message.timeStamp.ToString("hh:mm tt"):</td>
                            <td style="font-weight: bold;">@Html.ActionLink(message.Venue.venueName, "ViewVenueProfile", "ProfileView", new { venueId = message.Venue.VenueId },null) </td>
                            <td>@message.messageContent</td>
                            <td>
                                <button style="background-color: black;">@Html.ActionLink("Reply", "Create", "Message", new { recipientId = message.Venue.VenueId, isBand = false }, null)</button>
                                <button style="background-color: black;">@Html.ActionLink("Read", "ToggleRead", "Message", new { messageId = message.MessageId }, null)</button>
                            </td>
                        </tr>
                    }
                                                else
                                                {
                        <tr style="color: gray">
                            <td> @message.timeStamp.ToShortDateString() </td>
                            <td> @message.timeStamp.ToString("hh:mm tt"):</td>
                            <td style="font-weight: bold;">@Html.ActionLink(message.Venue.venueName, "ViewVenueProfile", "ProfileView", new { venueId = message.Venue.VenueId }, null)</td>
                            <td>@message.messageContent</td>
                            <td>
                                <button style="background-color: black;">@Html.ActionLink("Reply", "Create", "Message", new { recipientId = message.Venue.VenueId, isBand = false }, null)</button>
                                <button style="background-color: black;">@Html.ActionLink("Unread", "ToggleRead", "Message", new { messageId = message.MessageId }, null)</button>
                            </td>
                        </tr>
                                                }
                                            }
            </table>
        }
    </div>

    <div id="outbox" style="display: none;">
        @if (Model.messagesOut.Count == 0)
        {
            <div><span>NO MESSAGES SENT</span></div>
        }
        else
                                        {
            <table class="table">
                <tr>
                    <th>DATE</th>
                    <th>TIME</th>
                    <th>TO</th>
                    <th>MESSAGE</th>
                    <th>ACTIONS</th>
                </tr>
                @foreach (var message in Model.messagesOut)
                                    {
                    <tr style="color: gray">
                        <td> @message.timeStamp.ToShortDateString() </td>
                        <td> @message.timeStamp.ToString("hh:mm tt"):</td>
                        <td style="font-weight: bold;">@Html.ActionLink(message.Venue.venueName, "ViewVenueProfile", "ProfileView", new { venueId = message.Venue.VenueId }, null)</td>
                        <td>@message.messageContent</td>
                        <td>
                            <button style="background-color: black;">@Html.ActionLink("Send Another?", "Create", "Message", new { recipientId = message.Venue.VenueId, isBand = false }, null)</button>
                        </td>
                    </tr>

                }
            </table>
        }
    </div>




    <div id="requests">

        <table class="table" style="table-layout: fixed;">
            <tr>
                <td>
                    <button id="showRequestsIn" class="btn-default" style=" height: 40px; width: 100%;font-weight: bold;">REQUESTS IN</button>
                </td>
                <td>
                    <button id="showRequestsOut" class="btn-default" style=" height: 40px; width: 100%; ">REQUESTS OUT</button>
                </td>
                <td>
                    <button id="showResponse" class="btn-default" style=" height: 40px; width: 100%; ">RESPONSES</button>
                </td>
            </tr>
        </table>
        <div id="requestsIn">
            @if (Model.requestsIn.Count == 0)
            {
                <div><span>NO REQUESTS</span></div>
            }
            else
            {
                <table class="table">
                    <tr class="headRow">
                        <th>RECIEVED</th>
                        <th>DATE/TIME OF GIG</th>
                        <th>VENUE</th>
                        <th>MESSAGE</th>
                        <th>ACTIONS</th>
                    </tr>
                    @foreach (var request in Model.requestsIn)
                            {

                        <tr>
                            <td> @request.timeStamp.ToShortDateString()  @@<span>@request.timeStamp.ToString("hh:mm tt")</span></td>
                            @if (request.eventId == null)
                            {
                                string date = request.gigTime.HasValue ? request.gigTime.Value.ToShortDateString() : string.Empty;
                                string time = request.gigTime.HasValue ? request.gigTime.Value.ToString("hh:mm tt") : string.Empty;
                                <td> @date @@<span>@time</span></td>
                            }
                            else
                            {
                                <td> @request.Gig.timeOfGig.ToShortDateString()  @@<span>@request.Gig.timeOfGig.ToString("hh:mm tt")</span></td>
                            }

                        <td style="font-weight: bold;">@Html.ActionLink(request.Venue.venueName, "ViewVenueProfile", "ProfileView", new { venueId = request.Venue.VenueId }, null)</td>
                            <td style="width: 40%">@request.message</td>
                            <td>
                                <button class="btn-default" style="background-color: green;">@Html.ActionLink("ACCEPT", "ApproveRequest", "Request", new { requestId = request.RequestId }, null)</button>
                                <button class="btn-default" style="background-color: red;">@Html.ActionLink("DECLINE", "DenyRequest", "Request", new { requestId = request.RequestId }, null)</button>
                            </td>
                        </tr>


                    }
                </table>
            }
        </div>

        <div id="requestsOut" style="display: none;">
            @if (Model.requestsOut.Count == 0)
            {
                <div><span>NO REQUESTS</span></div>
            }
            else
            {
                <table class="table">
                    <tr class="headRow">
                        <th>SENT</th>
                        <th>DATE/TIME OF GIG</th>
                        <th>VENUE</th>
                        <th>STATUS</th>
                        <th>ACTIONS</th>
                    </tr>
                    @foreach (var request in Model.requestsOut)
                    {

                        <tr>
                            <td> @request.timeStamp.ToShortDateString()  @@<span>@request.timeStamp.ToString("hh:mm tt")</span></td>
                            @if (request.eventId == null)
                            {
                                string date = request.gigTime.HasValue ? request.gigTime.Value.ToShortDateString() : string.Empty;
                                string time = request.gigTime.HasValue ? request.gigTime.Value.ToString("hh:mm tt") : string.Empty;
                                <td> @date @@<span>@time</span></td>
                            }
                            else
                            {
                                <td> @request.Gig.timeOfGig.ToShortDateString()  @@<span>@request.Gig.timeOfGig.ToString("hh:mm tt")</span></td>
                            }

                        <td style="font-weight: bold;">@Html.ActionLink(request.Venue.venueName, "ViewVenueProfile", "ProfileView", new { venueId = request.Venue.VenueId }, null)</td>
                          

                            @if (request.approved == true)
                            {
                                <td><strong style="color: green;">APPROVED!</strong></td>
                            }
                            else if (request.denied == true)
                            {
                                <td><strong style="color: red;">DENIED!</strong></td>
                            }

                            <td><i style="color: yellow;">Pending...</i></td>

                            <td>
                                <button class="btn-default">@Html.ActionLink("MESSAGE", "Create", "Message", new { recipientId = request.venueId, isBand = false }, null)</button>
                                <button class="btn-default" style="background-color: red;">@Html.ActionLink("DELETE", "Delete", "Request", new { requestId = request.RequestId }, null)</button>

                            </td>
                        </tr>


                    }
                </table>
            }
        </div>

        <div id="response" style="display: none;">
            @if (Model.requestResponses.Count == 0)
            {
                <div><span>NO RESPONSES</span></div>
            }
            else
            {
                <table class="table">
                    <tr class="headRow">
                        <th>SENT</th>
                        <th>DATE/TIME OF GIG</th>
                        <th>VENUE</th>
                        <th>STATUS</th>
                        <th>ACTIONS</th>
                    </tr>
                    @foreach (var request in Model.requestResponses)
                    {

                        <tr>
                            <td> @request.timeStamp.ToShortDateString()  @@<span>@request.timeStamp.ToString("hh:mm tt")</span></td>
                            @if (request.eventId == null)
                            {
                                string date = request.gigTime.HasValue ? request.gigTime.Value.ToShortDateString() : string.Empty;
                                string time = request.gigTime.HasValue ? request.gigTime.Value.ToString("hh:mm tt") : string.Empty;
                                <td> @date @@<span>@time</span></td>
                            }
                            else
                            {
                                <td> @request.Gig.timeOfGig.ToShortDateString()  @@<span>@request.Gig.timeOfGig.ToString("hh:mm tt")</span></td>
                            }

                        <td style="font-weight: bold;">@Html.ActionLink(request.Venue.venueName, "ViewVenueProfile", "ProfileView", new { venueId = request.Venue.VenueId }, null)</td>
                            

                            @if (request.approved == true)
                            {
                                <td><strong style="color: green;">APPROVED!</strong></td>
                            }
                            else if (request.denied == true)
                            {
                                <td><strong style="color: red;">DENIED!</strong></td>
                            }

                            <td>
                                <button class="btn-default">@Html.ActionLink("MESSAGE", "Create", "Message", new { recipientId = request.venueId, isBand = false }, null)</button>
                                <button class="btn-default" style="background-color: red;">@Html.ActionLink("DELETE", "Delete", "Request", new { requestId = request.RequestId }, null)</button>

                            </td>
                        </tr>


                    }
                </table>
            }
        </div>
    </div>








    <div id="gigList">
        <h3>Upcoming Gigs</h3>

        @if (Model.currentGigs.Count == 0)
        {
            <span><i> No upcoming gigs for this band </i></span>
        }
        <table class="table">
            <tr>
                <th> Venue </th>
                <th> Date</th>
                <th> Time </th>
                <th> Line-up </th>
            </tr>

            @foreach (var gigModel in Model.currentGigs)
            {

                <tr>

                    <td>
                        @Html.ActionLink(gigModel.gig.Venue.venueName, "ViewVenueProfile", "ProfileView", new { venueId = gigModel.gig.Venue.VenueId }, null),
                    </td>
                    <td>@gigModel.gig.timeOfGig.ToShortDateString()</td>
                    <td>@gigModel.gig.timeOfGig.ToString("hh:mm tt")</td>

                    <td>

                        @foreach (var band in gigModel.bands)
                        {

                            <span>
                                @Html.ActionLink(band.bandName, "ViewBandProfile", "ProfileView", new { bandId = band.BandId }, null),
                            </span>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>



</div>



            <script>
                document.addEventListener('DOMContentLoaded', function () {



                    (function ($) {


                        $("#showInbox").click(function () {
                            console.log("Handler for .click() called.");
                            $("#inbox").show()
                            $("#outbox").hide();
                            $(this).css("font-weight", "bold");
                            $("#showOutbox").css("font-weight", "normal");
                        });
                  

                        $("#showOutbox").click(function () {
                            console.log("Handler for .click() called.");
                            $("#inbox").hide()
                            $("#outbox").show();
                            $(this).css("font-weight", "bold");
                            $("#showInbox").css("font-weight", "normal");
                        });
                  



                        $("#showRequestsIn").click(function () {
                            console.log("Handler for .click() called.");
                            $("#requestsIn").show()
                            $("#requestsOut").hide();
                             $("#response").hide();
                            $(this).css("font-weight", "bold");
                            $("#showRequestsOut").css("font-weight", "normal");
                             $("#showResponse").css("font-weight", "normal");
                        });
                 

                        $("#showRequestsOut").click(function () {
                            console.log("Handler for .click() called.");
                            $("#requestsIn").hide()
                            $("#response").hide();
                            $("#requestsOut").show();
                            $(this).css("font-weight", "bold");
                            $("#showRequestsIn").css("font-weight", "normal");
                             $("#showResponse").css("font-weight", "normal");
                        });
                     

                        $("#showResponse").click(function () {
                            console.log("Handler for .click() called.");
                            $("#requestsIn").hide()
                            $("#requestsOut").hide();
                            $("#response").show();
                            $(this).css("font-weight", "bold");
                            $("#showRequestsIn").css("font-weight", "normal");
                            $("#showRequestsOut").css("font-weight", "normal");
                        });
                      
                        
                    updateNotification();
                    function updateNotification() {

                        if (@Model.messagesIn.Where(m => m.read == false).ToList().Count != 0) {
                           // $("#showRequestsIn").css("color", "yellow");
                            $("#showInbox").append("<span style='color: yellow; float: right;'> (@Model.messagesIn.Count Unread)<span>");
                        }


                        if (@Model.requestsIn.Count != 0) {
                           // $("#showRequestsIn").css("color", "yellow");

                            $("#showRequestsIn").append("<span style='color: yellow; float: right;'> (@Model.requestsIn.Count Unanswered)<span>");
                        }

                         if (@Model.requestsOut.Count != 0) {
                           // $("#showRequestsIn").css("color", "yellow");

                         $("#showRequestsOut").append("<span style='color: yellow; float: right;'> (@Model.requestsOut.Count Pending)<span>");
                        }

                          if (@Model.requestResponses.Count != 0) {
                           // $("#showRequestsIn").css("color", "yellow");

                            $("#showResponse").append("<span style='color: yellow; float: right;'> (@Model.requestResponses.Count NEW)<span>");
                        }


                    }



                    })(jQuery);

                });
            </script>



