@model GigConnect.Models.ViewModels.BandProfileViewModel

@{
    ViewBag.Title = "ViewBandProfile";
}



    <div class="row">
        <div class="col-md-4 contentCol" style="height: 520px;">
            <div style="display: inline-block">
                <div style="text-align: center;">
                    <h4>@Model.band.bandName (@Model.band.genre) - @Model.band.town</h4>
                    <br />

                    <a href="@Model.band.bandWebsite">Band Website</a>

                    <br />
                    @if (Model.facebookImageUrl == "Error: No Token or facebook id")
                    {
                        <img src="~/Content/Images/profile.jpg" alt="pic" style="height: 280px; width: 280px;" />

                    }
                    else
                    {
                        <img src="@Model.facebookImageUrl" alt="pic" style="height: 280px; width: 280px;" />

                    }
                    @if (User.IsInRole("Venue"))
                    {
                        <button class="btn-default">@Html.ActionLink("Send a Message", "Create", "Message", new { recipientId = Model.band.BandId, isBand = true }, null)</button>
                        <button class="btn-default">@Html.ActionLink("Add to line-up", "AddSelectedBandToGig", "Gig", new { bandId = Model.band.BandId }, null)</button>
                    }



                </div>

                <div id="ratings">

                    <h4>Reviews</h4>
                    @if (Model.reviews.Count == 0)
                    {
                        <p> This band does not have any reviews yet.. @Html.ActionLink("Be the first!", "Create", "Review", new { reviewedId = Model.band.BandId, isBand = true }, null)</p>
                    }
                    else
                    {
                        <div style="height: 50px; overflow-y: scroll;">
                        <span id="score">Average rating (@Model.score/4) </span><button class="btn-default">@Html.ActionLink("Write a Review", "Create", "Review", new { reviewedId = Model.band.BandId, isBand = true }, null)</button>

                        <table class="table">

                            @foreach (var review in Model.reviews)
                            {
                                if (review.content != null)
                                {

                                    <tr>
                                        <td><strong>@review.rating</strong></td>
                                        <td>@review.content</td>
                                    </tr>

                                }
                            }
                        </table>
                        </div>
                    }

                </div>
            </div>



        </div>
       
        <div class="col-md-7 cleanCol">
            <div id="socialContainer" style="display: flex; justify-content: space-between;">

                <div id="twitterPosts"  class="socialP" style="height: 500px; width: 370px; background-color: deepskyblue; text-align: center; border-radius: 15px; ">
                    <h4 style="color: white;">twitter</h4>
                    <div class="postScroller" style="overflow-y: scroll; overflow-x: hidden; width: 360px; max-height: 450px; background-color: white; display: inline-block; ">

                        <a class="twitter-timeline" href="https://twitter.com/@Model.band.Social.twitterHandle?ref_src=twsrc%5Etfw">Tweets by @Model.band.bandName</a>



                    </div>
                </div>

            

            @if (Model.band.Social.facebookPageId != null)
            {
                <div id="facebookPosts" class="socialP" style="height: 500px; width: 370px; background-color: darkblue; text-align: center; border-radius: 15px; ">
                    <h4 style="color: white;">facebook</h4>
                    <div class="postScroller" style="overflow-y: scroll; overflow-x: hidden; max-width: 360px; max-height: 450px; background-color: white; display: inline-block; ">

                        @if (Model.facebookPermalinks.Count == 0)
                        {
                            <div class="postContainer">
                                <h3 style="color: red;">Facebook Token Exipred</h3>
                            </div>
                        }
                        else
                        {
                            foreach (var permaLink in Model.facebookPermalinks)
                            {
                                <div class="postContainer">
                                    <div class="fb-post" data-href="@permaLink" data-width="360">
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>


            }

        </div>
      </div>
        </div>
<div class="row">

    <div class="col-lg-10 contentCol">

        <div class="col-md-7 contentCol">
            <div id="Gigs" style="height: 300px; overflow-y: scroll;">
                <h4>Upcoming Shows</h4>
                <table class="table" width="100%">
                    <tr>
                        <td>Date</td>
                        <td>Time</td>
                        <td>Venue</td>
                        <td>Bands</td>
                        <td>Address</td>

                    </tr>
                    @foreach (var gig in Model.gigs)
                    {
                        <tr>
                            <td>@gig.gig.timeOfGig.Date</td>
                            <td>@gig.gig.timeOfGig.TimeOfDay</td>
                            <td>@gig.gig.Venue.venueName</td>
                            <td>

                                @foreach (var band in gig.bands)
                                {

                                    <span> @Html.ActionLink(band.bandName, "ViewBandProfile", "ProfileView", new { bandId = band.BandId }, null),</span>
                                }
                            </td>
                            <td>(@gig.formattedAddress)</td>
                        </tr>
                    }
                </table>

            </div>
        </div>
    </div>


    </div>



















   




<div id="youtubeVids" style="height: 300px; width: 1200px; background-color: red; text-align: center; border-radius: 15px;">
    <h2 style="color: white;">Youtube Videos</h2>
    <div class="postScroller" style=" overflow-y: hidden;  max-height: 280px; background-color: white; display: inline-block; ">
        @if (Model.youtubeUrls[0] == "failure")
        {

            <div style="width: 250px; height: 200px"><span><i>Youtube videos currently unavailable</i></span></div>
        }
        else
        {
            foreach (var videoUrl in Model.youtubeUrls)
            {
                <div style="display: inline-block;">
                    <iframe width="250" height="200" src="@videoUrl" frameborder="0" allowfullscreen></iframe>
                </div>
            }
        }


    </div>
</div>




<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        (function ($) {



       





        })(jQuery);
    });
</script>

